@font-face {
    font-family: "UFOCMS";
    src: url("../fonts/UFOCMS.ttf");
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: UFOCMS, sans-serif;
}
html, body {
    width: 100%;
    height: 100%;
    overflow: auto;
}

input:not([type="checkbox"]) {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 15px;
}
hr {
    width: 100%;
    height: 2px;
    margin: 10px 0;
    background: #ccc;
    border-radius: 4px;
}
select {
    width: 100%;
    height: 40px;
    display: block;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
}

header {
    width: 40%;
    height: 50px;
    background: whitesmoke;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.step {
    width: 40%;
    height: auto;
    max-height: 400px;
    overflow: auto;
    background: whitesmoke;
    border-radius: 8px;
    padding: 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.step.active {
    display: block;
}
.step .content {
    width: 100%;
    height: auto;
}
button[type="submit"] {
    width: 150px;
    height: 35px;
    color: white;
    background: deepskyblue;
    border-radius: 4px;
    font-weight: bolder;
    cursor: pointer;
}

.progress-bar {
    height: 4px;
    background-color: rgba(5, 114, 206, 0.2);
    width: 100%;
    overflow: hidden;
}
.progress-bar-value {
    width: 100%;
    height: 100%;
    background-color: rgb(5, 114, 206);
    animation: indeterminateAnimation 1s infinite linear;
    transform-origin: 0 50%;
}

label:has(input[type="checkbox"]) {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 13px;
    cursor: pointer;
    margin-bottom: 10px;
}
label:has(input[type="checkbox"]) input {
    width: 20px;
    height: 20px;
}
label:has(input[type="checkbox"]) span {
    margin: 0 5px;
    font-size: 16px;
}

.welcome {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 25px;
    text-align: center;
    background: #1e1f22;
    color: #fff;
    font-weight: 300;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000px;
    -webkit-transform: translate3d(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome div {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}
.welcome div:first-of-type {
    animation: showup 9s both;
}
.welcome div:last-of-type {
    width: 0;
    animation: reveal 10s linear both;
    margin: 0 10px
}
.welcome div:last-of-type span {
    margin-left: -355px;
    animation: slidein 10s linear both;
}

@keyframes indeterminateAnimation {
    0% {
        transform:  translateX(0) scaleX(0);
    }
    40% {
        transform:  translateX(0) scaleX(0.4);
    }
    100% {
        transform:  translateX(100%) scaleX(0.5);
    }
}
@keyframes showup {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 0;
    }
}
@keyframes slidein {
    0% {
        margin-left: -700px;
    }
    20% {
        margin-left: -700px;
    }
    35% {
        margin-left: 0px;
    }
    100% {
        margin-left: 0px;
    }
}
@keyframes reveal {
    0% {
        opacity: 0;
        width: 0;
    }
    20% {
        opacity: 1;
        width: 0;
    }
    30% {
        width: auto;
    }
    80% {
        opacity: 1;
    }
    100% {
        width: auto;
    }
}

@media screen and (max-width: 680px) {
    header {
        width: 90%;
    }
    .step {
        width: 90%;
    }
}